@use "../../all" as f;

.field {
    min-width: 370px;
  // .field__label
  &__label {
  }
  // .field__input
  &__input {
    width: 100%;
    height: var(--input-height);
    border: var(--border-input);
    border-radius: var(--border-radius-input);
    background: var(--color-bg-input);
    padding-inline: 10px;
    font-size: f.rem(18);
    color: var(--color-dark);

    &::placeholder {
      color: var(--color-dark);
    }

    &:focus {
      color: var(--color-white);
      background: transparent;
    }

    @include f.tablet{
      font-size: f.rem(16);
    }
  }
}